* {
    margin: 0;
}
.container {
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p {
    font-size: xx-large;
    padding: 15%;
}

button {
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn {
    transform: translate(-100%, 0);
}

#noBtn {
    position: absolute;
    /* top: 50%;
    left: 0%;
    transform: translate(0%,-50%); */
}

